<app-header></app-header>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="container">
                <h5>Filter</h5>
                <button class="btn mt-5" (click)="getAllRecipes()">All</button>
                <br>

<!-- cuisine type -->
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collapseExample" aria-expanded="false" 
                aria-controls="collapseExample">Cuisine Type</button><br>

                <div class="collapse" id="collapseExample">
                    <button class="btn" (click)="filterRecipes('cuisine','Italian')">Italian</button>
                    <button class="btn" (click)="filterRecipes('cuisine','Asian')">Asian</button>
                    <button class="btn" (click)="filterRecipes('cuisine','American')">American</button>
                    <button class="btn" (click)="filterRecipes('cuisine','Mexican')">Mexican</button>
                    <button class="btn" (click)="filterRecipes('cuisine','Indian')">Indian</button>
                    <button class="btn" (click)="filterRecipes('cuisine','Pakistani')">Pakistani</button>
                    <button class="btn" (click)="filterRecipes('cuisine','Japanese')">Japaneese</button>
                    <button class="btn" (click)="filterRecipes('cuisine','Thai')">Thai</button>
                    <button class="btn" (click)="filterRecipes('cuisine','Moroccan')">Moroccan</button>
                </div>
<!-- Meal type -->
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collapseExample1" aria-expanded="false" 
                aria-controls="collapseExample">Meal Type</button>

                <div class="collapse" id="collapseExample1">
                    <button class="btn" (click)="filterRecipes('mealType','Dinner')">Dinner</button>
                    <button class="btn" (click)="filterRecipes('mealType','Lunch')">Lunch</button>
                    <button class="btn" (click)="filterRecipes('mealType','Dessert')">Dessert</button>
                    <button class="btn" (click)="filterRecipes('mealType','Appetizer')">Appetizer</button>
                    <button class="btn" (click)="filterRecipes('mealType','Breakfast')">Breakfast</button>
                    <button class="btn" (click)="filterRecipes('mealType','Beverage')">Beverage</button>
                    <button class="btn" (click)="filterRecipes('mealType','Salad')">Salad</button>
                </div>

            </div>
        </div>

        <div class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center">
                <h1>All Recipies</h1>
                <input [(ngModel)]="searchkey" type="text" class="form-control w-50" placeholder="search your recipes">
            </div>


            <div class="row my-3">
                <!-- search key pipe used| here pagination also a pipe from third party library  -->
                @for (recipe of allRecipes|search:searchkey|paginate: { itemsPerPage: 7, currentPage: p }; track $index) {
                    <div class="col-lg-4">
                    <div class="p-3">

                        <!-- by clicking on image navigate to view-recipes to get clicked recipe content in detail,so here we created a click fn -->
                         <!-- (recipe._id)....gives the data original id in database which is stored now in "recipe" -->
                        <img width="100%" (click)="viewRecipe(recipe._id)" [src]="recipe.image" alt="">
                        <div class="card-body">
                            <h4>{{recipe.name}}</h4>
                            <p class="fw-bolder">Cuisine: <span class="text-danger">{{recipe.cuisine}}</span></p>
                            <p class="fw-bolder">Meal type: <span class="text-danger">{{recipe.mealType}}</span></p>
                        </div> 
                    </div>
                </div>
                }

                <!-- no recipe setting, while searching not find-->

               @if ((allRecipes|search:searchkey).length==0) {  
                 <div class="text-danger fw-bolder">
                    no recipies found...
                </div>
               }

               <div class="text-center">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
               </div>
                 

            </div>

        </div>
    </div>
</div>
