<app-header></app-header>

<div class="container my-5">
    <div class="row">
        <!-- filter section -->
        <div class="col-12 col-lg-3">
          
                <h5 class="fw-bolder">Filter</h5>
                <button class="btn btn-success w-100 my-2" (click)="getAllRecipes()">All</button>
                <br>

<!-- cuisine type -->
                <button class="btn btn-outline-success w-100 dropdown-toggle my-2" type="button" data-bs-toggle="collapse" 
                data-bs-target="#cuisine" aria-expanded="false" 
                aria-controls="collapseExample">Cuisine Type</button><br>

                <div class="collapse" id="cuisine">
                    <button class="btn filter-btn" (click)="filterRecipes('cuisine','Italian')">Italian</button>
                    <button class="btn filter-btn" (click)="filterRecipes('cuisine','Asian')">Asian</button>
                    <button class="btn filter-btn" (click)="filterRecipes('cuisine','American')">American</button>
                    <button class="btn filter-btn" (click)="filterRecipes('cuisine','Mexican')">Mexican</button>
                    <button class="btn filter-btn" (click)="filterRecipes('cuisine','Indian')">Indian</button>
                    <button class="btn filter-btn" (click)="filterRecipes('cuisine','Pakistani')">Pakistani</button>
                    <button class="btn filter-btn" (click)="filterRecipes('cuisine','Japanese')">Japaneese</button>
                    <button class="btn filter-btn" (click)="filterRecipes('cuisine','Thai')">Thai</button>
                    <button class="btn filter-btn" (click)="filterRecipes('cuisine','Moroccan')">Moroccan</button>
                </div>
<!-- Meal type -->
                <button class="btn btn-outline-success w-100 dropdown-toggle my-2" type="button" data-bs-toggle="collapse" 
                data-bs-target="#meal" aria-expanded="false" 
                aria-controls="collapseExample">Meal Type</button>

                <div class="collapse" id="meal">
                    <button class="btn filter-btn" (click)="filterRecipes('mealType','Dinner')">Dinner</button>
                    <button class="btn filter-btn" (click)="filterRecipes('mealType','Lunch')">Lunch</button>
                    <button class="btn filter-btn" (click)="filterRecipes('mealType','Dessert')">Dessert</button>
                    <button class="btn filter-btn" (click)="filterRecipes('mealType','Appetizer')">Appetizer</button>
                    <button class="btn filter-btn" (click)="filterRecipes('mealType','Breakfast')">Breakfast</button>
                    <button class="btn filter-btn" (click)="filterRecipes('mealType','Beverage')">Beverage</button>
                    <button class="btn filter-btn" (click)="filterRecipes('mealType','Salad')">Salad</button>
                </div>

            </div>
        
<!-- recipes section -->
        <div class="col-12 col-lg-9">
            <!-- title+search -->
            <div class="row align-items-center mb-3">
                <div class="col-12 col-md-6">
                      <h2>All Recipes</h2>
                </div>

                <div class="col-12 col-md-6">
                    <input [(ngModel)]="searchkey" type="text" class="form-control" placeholder="search your recipes">
                </div>
            </div>

<!-- recipes grid -->
            <div class="row">
                <!-- search key pipe used| here pagination also a pipe from third party library  -->
                @for (recipe of allRecipes|search:searchkey|paginate: { itemsPerPage: 7, currentPage: p }; track $index) {
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                      <div class="card shadow h-100">

                        <!-- by clicking on image navigate to view-recipes to get clicked recipe content in detail,so here we created a click fn -->
                         <!-- (recipe._id)....gives the data original id in database which is stored now in "recipe" -->
                        <img class="img-fuid recipe-img" (click)="viewRecipe(recipe._id)" [src]="recipe.image" alt="">
                        <div class="card-body">
                            <h4>{{recipe.name}}</h4>
                            <p class="fw-bolder">Cuisine: <span class="text-danger">{{recipe.cuisine}}</span></p>
                            <p class="fw-bolder">Meal type: <span class="text-danger">{{recipe.mealType}}</span></p>
                        </div> 
                    </div>
            </div>
                }

                <!-- no recipe setting, while searching not find-->

               @if ((allRecipes|search:searchkey).length==0) {  
                 <div class="text-danger fw-bolder text-center">
                    no recipies found...
                </div>
               }
             <!-- pagination -->
               <div class="text-center mt-4">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
               </div>
                 

            </div>

        </div>
    </div>
</div>
