<app-header></app-header>
<div class="container">
    <div style="height:400px;"class="row">
        <div class="col-lg-6 bg-success">
            <img width="100%" src="../../assets/img8.png" alt="">
        </div>
        <div class="col-lg-6" style="margin-top:100px;">
            <h1>Welcome to<span class="text-warning">Flavour-Fusion</span></h1>
            <p>Discover 100+ recipies in your hand with the best recipie provider</p>
        </div>
    </div>
<!-- section 2 -->
    <div class="row align-items-center my-5 mt-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <h1>About Us</h1>
            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Pariatur officiis odit labore distinctio incidunt rerum numquam magni, maiores veniam non!
            Reiciendis officiis non sapiente dolorum officia iste unde magni dolor,csdv sdfrwg eefwef
            Sapiente aliquid eligendi maxime soluta quidem voluptates! Nisi, mollitia,dfwvvv gegedvrdf
            placeat beatae minus deserunt iusto nam quaerat consequatur at nemo a fvev  gbrwrthuu yhu
            voluptates voluptatum cum libero fuga quo obcaecati corporis? Tempore, sit. Qui, itaque.
            Praesentium tempora a harum laboriosam necessitatibus esse consequuntur rerum animi nostrum, 
            veritatis provident. Velit rem perferendis eveniet quaerat eligendi quo.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur asperiores enim ad sed ullam error debitis voluptates corporis adipisicing elit.</li>
                    <li>At consequuntur, dolorum obcaecati eius odio ipsam reiciendis itaque  veritatis dolores sunt similique.</li>
                    <li>Odit provident nihil explicabo consequuntur asperiores enim ad sed ullam error debitis voluptates corporis dolor harum.</li>
                    <li>Molestiae consequuntur officia alias in, corrupti tempora impedit asperiores quidem.</li>
                </ul>
        </div>
        <div class="col-lg-6 mt-5 image-fluid">
            <img src="../../assets/img9.png" alt="">
        </div>
    </div>
</div>
