<app-header></app-header>

<div class="container">

  <!-- HERO SECTION -->

  <div class="row align-items-center about-hero rounded">

    <div class="col-12 col-md-6 bg-success text-center p-4">

      <img
      class="img-fluid"
      src="../../assets/img8.png"
      alt="">

    </div>


    <div class="col-12 col-md-6 text-center text-md-start p-4">

      <h1>
        Welcome to
        <span class="text-warning">
        Flavour-Fusion
        </span>
      </h1>

      <p>
        Discover 100+ recipes in your hand with the
        best recipe provider
      </p>

    </div>

  </div>



  <!-- ABOUT SECTION -->


  <div class="row align-items-center my-5">

    <div class="col-12 col-md-6">

      <h1>About Us</h1>

      <p class="about-text">

        Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Pariatur officiis odit labore
        distinctio incidunt rerum numquam magni,
        maiores veniam non! Reiciendis officiis non
        sapiente dolorum officia iste unde magni dolor.

        Sapiente aliquid eligendi maxime soluta quidem
        voluptates! Nisi mollitia placeat beatae minus
        deserunt iusto nam quaerat consequatur at nemo.

      </p>


      <ul class="about-list">

        <li>
        Lorem ipsum dolor sit amet consectetur
        adipisicing elit.
        </li>

        <li>
        At consequuntur dolorum obcaecati eius odio.
        </li>

        <li>
        Odit provident nihil explicabo consequuntur.
        </li>

        <li>
        Molestiae consequuntur officia alias.
        </li>

      </ul>

    </div>



    <div class="col-12 col-md-6 text-center mt-4 mt-md-0">

      <img
      class="img-fluid about-img"
      src="../../assets/img9.png"
      alt="">

    </div>

  </div>

</div>
