<app-header></app-header>

<div class="container">

  <!-- CONTACT HERO -->

  <div class="row bg-success text-light text-center  p-4 mb-5">

    <div class="col-12 col-md-10 mx-auto">

      <h1>Contact Us</h1>

      <p class="contact-text">

        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Magnam amet neque accusantium ducimus dolor assumenda.
        Eos laudantium quas maxime quidem voluptatum eius tempore.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Magnam amet neque accusantium ducimus dolor assumenda.
        Eos laudantium quas maxime quidem voluptatum eius tempore.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Magnam amet neque accusantium ducimus dolor assumenda.
        Eos laudantium quas maxime quidem voluptatum eius tempore.



      </p>

    </div>

  </div>



  <!-- CONTACT DETAILS + FORM -->

  <div class="row align-items-start">

    <!-- LEFT SIDE -->

    <div class="col-12 col-lg-6 mb-4">

      <h2>Get in Touch</h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>



      <!-- ADDRESS -->

      <div class="d-flex contact-item">

        <div class="icon-box">
          <i class="fa-solid fa-location-dot"></i>
        </div>

        <div>
          <h5>Address</h5>
          <p class="text-secondary">xoo3, Newyork</p>
        </div>

      </div>



      <!-- EMAIL -->

      <div class="d-flex contact-item">

        <div class="icon-box">
          <i class="fa-regular fa-envelope"></i>
        </div>

        <div>
          <h5>Email</h5>
          <p class="text-secondary">
            {{demoMail}}
          </p>
        </div>

      </div>



      <!-- PHONE -->

      <div class="d-flex contact-item">

        <div class="icon-box">
          <i class="fa-solid fa-phone"></i>
        </div>

        <div>
          <h5>Phone Number</h5>
          <p class="text-secondary">
            +0456-555552571061
          </p>
        </div>

      </div>



      <hr>

      <h4>Follow Us</h4>


      <div class="d-flex gap-3 mt-3">

        <div class="icon-box">
          <i class="fa-brands fa-facebook"></i>
        </div>

        <div class="icon-box">
          <i class="fa-brands fa-square-x-twitter"></i>
        </div>

        <div class="icon-box">
          <i class="fa-solid fa-envelope"></i>
        </div>

        <div class="icon-box">
          <i class="fa-brands fa-square-instagram"></i>
        </div>

      </div>

    </div>



    <!-- RIGHT SIDE FORM -->

    <div class="col-12 col-lg-6">

      <form
      class="border shadow rounded p-4"
      [formGroup]="testyMonyForm"
      (ngSubmit)="addTestimony()">

        <h3 class="mb-3">
        Client Testimonials
        </h3>


        <div class="mb-3">

          <input
          type="text"
          formControlName="name"
          class="form-control"
          placeholder="Name">

        </div>


        <div class="mb-3">

          <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Email">

        </div>


        <div class="mb-3">

          <textarea
          formControlName="message"
          class="form-control"
          placeholder="Message">

          </textarea>

        </div>


        <p class="text-secondary small contact-text">

          By submitting, you agree to the terms
          and conditions of our website.

        </p>


        <div class="text-end">

          <button
          type="submit"
          class="btn btn-success text-light">

          Submit

          </button>

        </div>

      </form>

    </div>

  </div>

</div>
