@import '../node_modules/@angular/material/prebuilt-themes/rose-red.css';







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rancho", cursive;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
