<app-header></app-header>
<div class="container">
  <!-- hero---section -->
  <div class="row bg-success py-5 px-3 align-items-center">
    <!-- <div class="col-lg-2"></div> -->
    <div class="col-12 col-md-6 text-light fw-bolder text-center text-md-start">
      <h1>Most easiest way to make your Favourite Dish</h1>
      <p>Explore 100+ recipes in your hand...</p>
      <h2 class="text-warning fw-bolder">Eat</h2>
      <h3 class="text-warning fw-bolder">Cook</h3>
      <h5 class="text-warning fw-bolder">Repeat</h5>
      <a routerLink="/all-recipies" class="btn btn-warning text-light fw-bolder mt-3">Explore Our Recipes</a>
    </div>

    <div class="col-12 col-md-6 text-center">
      <img class="img-fluid food-img" src="assets/img1.png" alt="food" />
    </div>
  </div>

  <!-- POPULAR RECIPES -->
  <div class="my-5">
    <h1>Popular Recipes of the Week</h1>

    <div class="d-flex justify-content-between flex-wrap">
      <p>Our most popular recipes of the week</p>
      <a routerLink="/all-recipies">View all</a>
    </div>

    <div class="row mt-4">
      <!--  here used for to get recipe data through api from database -->
      @for (recipe of allRecipes; track $index) {
      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card small-card shadow-sm h-100 text-center">

          <!-- here use ppty binding to get data -->
          <img class="card-img-top small-img" [src]="recipe.image" alt="" />

          <div class="card-body p-2">
            <!-- here use interpolation -->
            <h6 class="mb-0">
              {{ recipe.name }}
            </h6>
          </div>
        </div>
      </div>
      }
      <!-- <div class="col-lg-8"> -->
      <!-- </div> -->
    </div>
  </div>

  <!-- banner -->

  <div class="row align-items-center my-5 banner-section rounded my-5">
    <!--  style="height: 400px;background-repeat:no-repeat;background-size:cover;
     background-image:url(../../assets/img3.webp);" .......removed px styling and update image and styling in css-->

    <div class="col-lg-6"></div>

    <div class="col-12 col-lg-6">
      <div class="bg-light rounded p-4 banner-box">
        <h5 class="text-warning">50+ Recipes that quick and fast</h5>
        <p class="text-dark mt-3">
          Find the perfect food ideas to start your day...
        </p>
      </div>
    </div>
  </div>

  <!-- download -->

  <div class="row text-light align-items-center bg-success rounded p-4 my-5">
    <div class="col-12 col-md-6 text-center mb-4 mb-md-0">
      <img class="img-fluid" src="../../assets/img4.png" alt="" />
    </div>

    <div class="col-12 col-md-6 text-center">
      <h1>Download App</h1>
      <h5>
        Download the app from APP STORE or <br />
        google play for better experience
      </h5>

      <div class="d-flex flex-column flex-md-row justify-content-center gap-3 mt-3">
        <img class="img-fluid store-img" src="../../assets/img5.png" alt="" />
        <img class="img-fluid store-img" src="../../assets/img6.png" alt="" />
      </div>
    </div>
  </div>

  <!-- client testimonials -->
  <div class="text-center my-5">
    <h1 class="testimonial-title">Client Testimonials</h1>

    <!-- <marquee> in modern html like angular we not use this not relailble and controllable -->

    <div class="testimonial-wrapper">

      <div class="testimonial-track">
        <!-- showing all testimonials by iterating with for -->
        @for (item of allTestimonials; track $index) {

        <div class="testimonial-card">
          <h5>{{item.name}}</h5>
          <p>{{item.message}}</p>
        </div>

        }

        <!-- Duplicate for smooth infinite scroll -->
        @for (item of allTestimonials; track $index) {

        <div class="testimonial-card">

          <h5>{{item.name}}</h5>

          <p>{{item.message}}</p>

        </div>

        }

      </div>

    </div>

  </div>