<div class="container" d-flex justify-content-center align-items-center style="height: 100vh;">
    <div class="text-center">
        <h1 style="font-weight: 100px;">404 Not Found</h1>
        <img src="https://img.freepik.com/premium-photo/flat-concept-404-error-page-file-found-web-page-banner-presentation-social-media-documents-website-maintenance-error-webpage-construction-vector-ultraviolet-illustration_317038-260.jpg?semt=ais_user_personalization&w=740&q=80" alt="">
        <div>
            <a routerLink="/">Home</a>
        </div>
    </div>
</div>
